{% extends "main.html" %}
{% block content %}

<div class="about">
    <H1>Time Series Forecasting</H1>
    <br>
    <p>Time series forecasting is the process of analyzing time series data using,
         statistics and modeling to make predictions and inform strategic decision-making.
    In some industries, forecasting might refer to data at a specific future point in time,
    while prediction refers to future data in general. Time series allows you to analyze major 
    patterns such as trends, seasonality, cyclicity, and irregularity. 
    Time series analysis is used for various applications such as stock market analysis, 
    pattern recognition, earthquake prediction, economic forecasting, census analysis 
    and so on.</p>
    <p>Time series analysis comprises methods for analyzing time series data in order to extract 
        meaningful statistics and other characteristics of the data. Time series forecasting is 
        the use of a model to predict future values based on previously observed values.</p>
</div>

{% endblock %}