{% extends "main.html" %}
{% block content %}
<div class="contact">
    <center><H1>Team Members</H1></center>
    <br>
        <dl>
            <dt>Lakshmi Priya</dt>
            <dd>
                <a href="https://github.com/Lakshmipriya-S" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/lakshmipriya-s/" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Tanuja Kanekar</dt>
            <dd>
                <a href="https://github.com/TanujaKanekar" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/mwlite/in/tanuja-kanekar" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Athira Muraleedharan</dt>
            <dd>
                <a href="https://github.com/athira5598" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/athira-muraleedharan-7086b2212/" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Mohammed Assim K A</dt>
            <dd>
                <a href="https://github.com/assim123" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/mohammed-assim-892830212" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Moolam Mounica</dt>
            <dd>
                <a href="https://github.com/Moolammounika" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/moolam-mounika-a9b633214" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Sourav Soni</dt>
            <dd>
                <a href="https://github.com/sauravsoni476" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/saurav-soni-b4a717159" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
            <dt>Swastik Mohanty</dt>
            <dd>
                <a href="https://github.com/developedbysm" class="fa fa-github" aria-hidden="true"></a>
                <a href="https://www.linkedin.com/in/swastik-mohanty/" class="fa fa-linkedin" aria-hidden="true"></a>
            </dd>
        </dl>
</div>
{% endblock %}