<!DOCTYPE html>
<html>
<head>

	<title>Time Series Forecasting - Availabiliy of Beds</title>
  <link rel = "icon"  href= "https://image.flaticon.com/icons/png/512/484/484672.png" type = "image/x-icon">
	<meta name = "viewport" content="width=device-width, initial-scale=1'">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href={{ url_for('static', filename='../static/css/style.css') }}>
</head>
<body>          
  {% include "navbar.html" %} 
	<div class="container-fluid">
    {% block content %}
  
  
  
    {% endblock %}
  </div>
  {% include "footer.html" %} 
  
</body>
